body {
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #00305e;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(0, 48, 94, 0.5),
    rgba(162, 34, 44, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(0, 48, 94), rgb(162, 34, 44));
}

.col-lg-2 {
  width: 20%;
}

.sidebar {
  padding: 1.5rem;
  color: white;
  position: fixed;
}

.offcanvas {
  width: 300px;
  color: white;
}

.image {
  padding-top: 0;
}

.bi {
  color: white;
  width: 7rem;
  height: 7rem;
}

.name {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2;
}

.item > span {
  padding-left: 25px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dor {
  font-size: 0.9rem;
}

.heading {
  color: rgb(0, 48, 94);
}

.bi-list {
  color: rgb(0, 48, 94);
  font-size: 2rem;
  height: 1.5rem;
}

.collapse {
  display: none;
}

/* size of the table */
.employee-directory {
  width: 80%;
}

@media (max-width: 1300px) {
  .sidebar-sm-collapse {
    display: none;
  }
}