* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
 
a {
    color: rgb(0, 48, 94);
}
  
a:hover {
    color: rgb(162, 34, 44);
}

input:focus {
    outline: none;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #00305e;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right,
      rgba(0, 48, 94, 0.5),
      rgba(162, 34, 44, 0.5)
    );
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(0, 48, 94), rgb(162, 34, 44));
  }

.card {
    width: 20rem;
    height: 25rem;
    margin: 7rem auto;
}
  
.card-title {
    font-weight: bold;
    font-size: 2rem;
    color: rgb(0, 48, 94);
}
  
.btn {
    background: rgb(0, 48, 94);
    color: white;
}
  
.btn-primary {
    border-color: rgba(0, 48, 94, 0.5);
}
  
.btn:hover {
    background: rgb(162, 34, 44);
    color: white;
}
  
.btn-primary:hover {
    border-color: rgba(162, 34, 44, 0.5);
}
  
.sub-info {
    font-size: 0.9rem;
}
