* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    /* fallback for old browsers */
    background: #00305e;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right,
      rgba(0, 48, 94, 0.5),
      rgba(162, 34, 44, 0.5)
    );
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(0, 48, 94), rgb(162, 34, 44));
}


a {
    color: rgb(0, 48, 94);
}
  
a:hover {
    color: rgb(162, 34, 44);
}

input:focus {
    outline: none;
}

form img {
    position: absolute;
    top: 27%;
    left: 83%;
    cursor: pointer;
}

.card {
    width: 25rem;
    height: 45rem;
    margin: 1rem auto;
    padding: 1rem 2rem;
}
  
.card-title {
    font-weight: bold;
    font-size: 2rem;
    color: rgb(0, 48, 94);
}

.row span {
    font-size: 0.7rem;
    color: #6c757d;
}

.pass-check {
    display: none;
}

.btn {
    background: rgb(0, 48, 94);
    color: white;
}
  
.btn-primary {
    border-color: rgba(0, 48, 94, 0.5);
}
  
.btn:hover {
    background: rgb(162, 34, 44);
    color: white;
}
  
.btn-primary:hover {
    border-color: rgba(162, 34, 44, 0.5);
}
  
.sub-info {
    font-size: 0.9rem;
}