* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body {
    background: linear-gradient(to right, rgba(0, 48, 94, 0.75), rgba(162, 34, 44, 0.75)), url('../images/home_bg.jpeg') no-repeat center center / cover;
}


h1 {
    color: rgba(255, 255, 255, 0.95);
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
}

button {
    background: white;
    border: none;
    color: #00305e;
}

button:hover {
    background: #A2222c;
    transition: 0.4s;
    color: white;
}